footer {
    background:$white;
    border-top:3px solid $light;
    background-image:url(../../assets/box.png);
    background-size:contain;
    height:50vh;
    @include breakPoint(thirdBreak) {
        grid-row:3;
        height:100%;
    }
}