main {
    background:$white;
    // border:1px solid blue;
    grid-column:1 / 3;
    grid-row:2;
    border-right:3px solid $light;
    border-top:3px solid $light;
    // height:calc(50vh - 0.5rem);
    height:50vh;
    box-shadow:inset 1px 1px 7.5px $dark;
    @include breakPoint(thirdBreak) {
        grid-column:1;
        grid-row:2;
        // overflow-y:inherit;
        border-right:none;
    }
    @include breakPoint(fourthBreak) {
        margin-bottom:none;
    }
    @include breakPoint(fifthBreak) {
        height:100%;
        box-shadow:none;
    }
}

.container--skills {
    .wrapper {
        // @include dFlex(column wrap, inherit, inherit);
    }
    .container__list {
        margin:2rem auto;
    }
}

.container--portfolio {
    // border:1px solid red;
    width:100%;
    // display:flex;
    @include breakPoint(fifthBreak) {
        padding:0 1.5rem;
    }
    .flickity {
        margin:5rem auto;
        z-index:10;
        @include breakPoint(fifthBreak) {
            margin:4rem auto;
        }
    }
    .flickity-button {
        background:none;
        color:$accent;
    }
    .card {
        // border:1px solid red;
        width:90%;
        display:flex;
        margin:0 2.5rem;
        @include breakPoint(fifthBreak) {
            margin:0 4rem;
        }
    }
    .card__image {
        width:100%;
        // border:1px solid red;
        display:flex;
        img {
            border:1px solid $light;
            align-self:center;
            width:50%;
            @include breakPoint(firstBreak) {
                width:100%;
            }
        }
        @include breakPoint(firstBreak) {
            width:80%;
            position: relative;
            margin:0 auto;
            &:hover .card__text, &:active .card__text {
                opacity:1;
            }
        }
        @include breakPoint(fourthBreak) {
            width:100%;
        }
        @include breakPoint(fifthBreak) {
            flex-direction: column;
        }
    }
    .card__text {
        width:50%;
        // margin:2rem;
        padding:0.5rem 0 0.5rem 2.5rem;
        transition:opacity 0.3s;
        // border:1px solid blue;
        @include dFlex(row wrap, inherit, center);
        @include breakPoint(firstBreak) {
            background:rgba(255,255,255,0.8);
            position: absolute;
            width:100%;
            top:auto;
            right:0;
            bottom:0;
            left:0;
            opacity:0;
    
        }
        @include breakPoint(fifthBreak) {
            position:inherit;
            opacity:1;
            margin-top:1rem;
        }
        .card__list {
            @include dFlex(row wrap, inherit, center);
            padding:0;
            .nav__listItem {
                margin-right:1rem;
            }
        }
        nav {
            width:100%;
        }
    }
}


// // BAGELS 
// .hide {
//     display: none;
// }
// .show {
//     display: block;
// }

// .bagels {
//     position: absolute;
//     animation-name: falling-bagels;
//     animation-duration: 5s;
//     /*animation-delay: 1s;*/
//     animation-timing-function: ease-in-out;
//     top: -500px;
//     animation-iteration-count: 1;
//     z-index:100;
//     overflow: hidden;
// }
// .bagels1{
//     left: 11%;
//     animation-delay: 3s;
// }
// .bagels2 {
//     left: 25%;
//     animation-delay: 5s;
//     animation-duration: 10s;
// }
// .bagels3 {
//     left: 33%;
//     animation-delay: 1.5s;
// }
// .bagels4{
//     left: 79%;
//     animation-delay: 4s;
// }
// .bagels5 {
//     left: 62%;
//     animation-delay: .8s;
// }