main {
    background:$white;
    // border:1px solid blue;
    grid-column:1 / 3;
    grid-row:2;
    overflow-y:scroll;
    border-right:3px solid $light;
    border-top:3px solid $light;
    // height:calc(50vh - 0.5rem);
    height:50vh;
    box-shadow:inset 1px 1px 7.5px $dark;
    @include breakPoint(thirdBreak) {
        grid-column:1;
        grid-row:2;
        overflow-y:inherit;
    }
    @include breakPoint(fourthBreak) {
        margin-bottom:none;
    }
    @include breakPoint(fifthBreak) {
        height:100%;
        box-shadow:none;
    }
}

.container {
    // border:1px solid red;
    // background:$white;
    .container__list {
        @include dFlex(row wrap, center, center);
        padding:0;
        .nav__listItem {
            // border:1px solid red;
            text-align: center;
            width:calc(100% / 3);
            margin:1.25rem 0;
            @include dFlex(column wrap, center, center);
            i {
                font-size:5rem;
            }
            i.grey {
                color:#939393;
            }
            .firebase {
                width:37px;
                text-align: center;
                justify-content: center;
                filter:grayscale(100);
            }
        }
    }
}

.container--skills {
    .wrapper {
        // @include dFlex(column wrap, inherit, inherit);
    }
    .container__list {
        margin:2rem auto;
    }
}

.container--portfolio {
    // border:1px solid red;
    height:100%;
    width:100%;
    @include breakPoint(fifthBreak) {
        padding:0 1.5rem;
    }
    .flickity {
        margin:5rem auto;
        z-index:10;
        @include breakPoint(fifthBreak) {
            margin:4rem auto;
        }
    }
    .card {
        // border:1px solid red;
        width:90%;
        display:flex;
        margin:0 2.5rem;
        @include breakPoint(fifthBreak) {
            margin:0 4rem;
        }
    }
    .card__image {
        width:100%;
        // border:1px solid red;
        display:flex;
        img {
            border:1px solid $dark;
            align-self:center;
            width:50%;
            @include breakPoint(firstBreak) {
                width:100%;
            }
        }
        @include breakPoint(firstBreak) {
            width:80%;
            position: relative;
            margin:0 auto;
            &:hover .card__text {
                opacity:1;
            }
        }
        @include breakPoint(fourthBreak) {
            width:100%;
        }
        @include breakPoint(fifthBreak) {
            flex-direction: column;
        }
    }
    .card__text {
        width:50%;
        // margin:2rem;
        padding:0.5rem 0 0.5rem 2.5rem;
        transition:opacity 0.3s;
        // border:1px solid blue;
        @include dFlex(row wrap, inherit, center);
        @include breakPoint(firstBreak) {
            background:rgba(255,255,255,0.8);
            position: absolute;
            width:100%;
            top:auto;
            right:0;
            bottom:0;
            left:0;
            opacity:0;
    
        }
        @include breakPoint(fifthBreak) {
            position:inherit;
            opacity:1;
            margin-top:1rem;
        }
        .card__list {
            @include dFlex(row wrap, inherit, center);
            padding:0;
            .nav__listItem {
                margin-right:1rem;
            }
        }
        nav {
            width:100%;
        }
    }
    
}