$white: #FFF;
$base: #000;
$light: #e8e8e8;
$dark: #333333;
$accent: #ffb772;
$darkaccent: #ffa44c;
$baseFont:'Roboto Condensed', sans-serif;

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@mixin dFlex($direction, $justify, $align){
    display:flex;
    flex-flow:$direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin breakPoint($point) {
      @if $point == bigBreak {
        @media (min-width:1800px) {@content;}
    }
    @if $point == standard {
        @media (max-width:1500px) {@content;}
    }
    @if $point == firstBreak {
        @media (max-width:1150px) { @content;}
    }
    @if $point == secondBreak {
        @media (max-width:1050px) { @content;}
    }
    @if $point == thirdBreak {
        @media (max-width:800px) { @content;}
    }
    @if $point == fourthBreak {
        @media (max-width:600px) {@content;}
    }
    @if $point == fifthBreak {
        @media (max-width:530px) {@content;}
    }
    @if $point == sixthBreak {
        @media (max-width:470px) {@content;}
    }
    @if $point == seventhBreak {
        @media (max-width:374px) {@content;}
    }

}


@keyframes falling-bagels {
    0% {
        top: -500px;
    }
    10%, 30%, 50%, 70%, 90% {
        margin-left: 10px;
    }
    20%, 40%, 60%, 80% {
        margin-left: 100px;
    }
    100% {
        top: 100%;
    }
}